.timeline-container {
  display: flex;
  flex-direction: column;
  
  .timeline-content-wrapper {
    display: flex;
    position: relative;
  }

  .timeline-ruler-container {
    overflow-x: auto;
    flex: 1;
    border-top: 1px solid var(--color-border-main-trans);
    border-bottom: 1px solid var(--color-border-main-trans);

    .timeline-ruler-year {
      display: flex;
      flex-direction: column;

      .timeline-ruler-year-label {
        font-size: 16px;
        font-weight: bold;
        padding: 0 8px;
        background: var(--color-bg-main);
        box-shadow: inset 1px 0 0 0 var(--color-border-main-trans);
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .timeline-ruler-month {
        box-shadow: inset 1px 0 0 0 var(--color-border-main-trans);

        .timeline-ruler-month-label {
          font-size: 14px;
          padding: 0 8px;
          background: var(--color-bg-sec);
          box-shadow: inset 1px 0 0 0 var(--color-border-main-trans);
          text-align: center;
          display: flex;
          align-items: center;
          justify-content: center;
        }

        .timeline-ruler-day {
          display: flex;
          flex-direction: column;
          position: relative;

          &.zoomed {
            box-shadow: inset 1px 0 0 0 var(--color-border-main-trans);
          }

          .timeline-ruler-day-label {
            // padding: 4px;
            text-align: center;
            font-size: 10px;
            color: rgba(0, 0, 0, 0);
            border-bottom: 1px solid var(--color-border-main);
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;

            &.zoomed {
              color: var(--color-sec);
            }
          }
        }
      }
    }
  }
}

.timeline-ruler-column {
  display: flex;
}

.timeline-ruler-day-items {
  position: relative;
}



.timeline-groups {
  position: relative;
  display: flex;
  flex-direction: column;
}


