.timeline-container {
  display: flex;
  flex-direction: column;

  .timeline-ruler-container {
    overflow-x: auto;

    .timeline-ruler-year {
      display: flex;
      flex-direction: column;

      .timeline-ruler-month {
        box-shadow: 1px 0 0 0 var(--color-border-main-trans);

        .timeline-ruler-month-label {
          display: flex;
          align-items: center;
          padding: 4px 8px;
          background: var(--color-bg-sec);
          border-bottom: 1px solid var(--color-border-main);

          .timeline-ruler-month-label-month {
            font-weight: bold;
            margin-right: 8px;
          }

          .timeline-ruler-month-label-year {
            color: #666;
          }
        }

        .timeline-ruler-day {
          display: flex;
          flex-direction: column;
          position: relative;

          &.zoomed {
            box-shadow: 1px 0 0 0 var(--color-border-main-trans);
          }

          .timeline-ruler-day-label {
            padding: 4px;
            text-align: center;
            font-size: 12px;
            color: rgba(0, 0, 0, 0);
            border-bottom: 1px solid var(--color-border-main);
            
            &.zoomed {
              color: var(--color-sec);
            }
          }
        }
      }
    }
  }
}

.timeline-ruler-column {
  display: flex;
}

.timeline-ruler-day-items {
  position: relative;
}

.timeline-item {
  background-color: var(--color-bg-sec);
  border: 1px solid var(--color-border-main-trans);
  border-radius: 4px;
  padding: 4px;
  overflow: hidden;
  position: absolute;
  z-index: 1;

  &:hover {
    background-color: var(--color-bg-sec-2);
  }
}

.timeline-item-name {
  font-size: 12px;

  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
}

.timeline-groups {
  position: relative;
  display: flex;
  flex-direction: column;
}

.timeline-group {
  position: relative;
}
