.nav {
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: var(--color-bg-sec);
  border-bottom: 1px solid var(--color-border-main);
  margin-bottom: 16px;

  padding: 12px 16px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  .nav-item-container {
    display: flex;
    align-items: center;
    gap: 8px;
  }
}